<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameJammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameJammer.Properties.Settings>
            <setting name="JammerFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GameLevelsDir" serializeAs="String">
                <value />
            </setting>
            <setting name="MapWorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="QuarkAddOnDir" serializeAs="String">
                <value />
            </setting>
            <setting name="QuarkSrcDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GameAudioDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioSrcDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateZone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateZoneDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateMatLib" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateVisData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatePortalFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelBaseName" serializeAs="String">
                <value />
            </setting>
        </GameJammer.Properties.Settings>
    </userSettings>
</configuration>